.App {
    padding: 2rem 5vw;
    text-align: center;
    color: white;
    background-color: rgb(17, 17, 17);
    min-height: 100vh;
  }
  .products-cart{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .products-cart__cart{
    padding: 1rem;
    border: 1px dotted white;
    background-color: rgb(44, 44, 44);
    height: 50vh;
    overflow: auto;
    margin: 1rem;
  }
  .products-cart__products{
    padding: 1rem;
  }
  .add-own-product-form{
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 1rem;
  }
  .add-own-product-form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.3rem 0;
  }
  .edit{
    border: 1px solid white;
    padding: 1rem;
  }
  .edit__p{
    color: rgb(209, 66, 66);
  }
  .edit__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (min-width: 700px){
    .products-cart{
      flex-direction: row;
    }
    .products-cart__cart{
     width: 50%;
    }
    .products-cart__products{
      width: 50%;
    }
    .add-own-product-form{
      text-align: left;
      width: 30%;
    }
  }
  @media (min-width: 1350px){
    .App{
      padding: 2rem 15rem;
    }
    .products-cart{
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
    .products-cart__cart{
      width: 30%;
     }
     .products-cart__products{
       width: 30%;
     }
  }
